.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;

}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img {
    width: 40px;
    border-radius: 50%;
}

.main-container {
    max-width: 900px;
    margin: auto;
}

.main .greet {
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.main .card {
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    right: 10px;
    bottom: 10px;
}

.main .card p {
    color: #585858;
    font-size: 17px;
}

.card:hover {
    background-color: #dfe4ea;

}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}
.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; /* Giảm khoảng cách giữa các thành phần */
    background-color: #f0f4f0;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img {
    width: 24px;
    cursor: pointer;
}
.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info {
    font-weight: 300;
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
}

.result {
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.previous-prompts{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}
.result::-webkit-scrollbar{
    display: none;
}

.result-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result img {
    width: 40px;
    border-radius: 50%;  
}

.result-data{
    display: flex;
    align-items: start;
    gap: 25px;
    margin-bottom: 35px;
}

.history {
    padding: 20px; /* Adjust padding as needed */
    background-color: #f0f0f0; /* Background color for the history section */
    border-radius: 10px; /* Add some border radius */
    margin-bottom: 20px; /* Add some margin at the bottom */
    max-height: 70vh; /* Set a max height for the history section */
    overflow-y: scroll; /* Add a scroll bar */
}
.history::-webkit-scrollbar{
    display: none;
}

.history p {
    font-size: 18px; 
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 1.8;
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr {
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0% {
        background-position: -800px 0;
    }
    100% {
        background-position: 800px 0;
    }
}

.result-data p {
    font-size: 17px;
    font-weight: 300px;
    line-height: 1.8;
}

.history .copy {
    background-color: #f0f4f9;
    width: 23px;
    cursor: pointer;
}

.select-model {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 10px;
}

.select-model option:hover {
    background-color: #ccc; /* Example hover background color */
    color: #fff; /* Example hover text color */
}

@media (max-width: 600px) {

    .main-bottom input {
        width: 120px; /* Giảm chiều rộng của trường nhập liệu */
    }
    .main-bottom img {
        width: 18px; /* Giảm kích thước của biểu tượng */
    }
    .search-box {
        margin-top: 20px; /* Giảm khoảng cách giữa trường nhập liệu và các biểu tượng */
        padding: 5px 10px;
    }
    .search-box div {
        gap: 5px; /* Giảm khoảng cách giữa các biểu tượng */
    }
}


